* {
  border: black solid 1px;
}

body {
  height:100vh;
  min-width: 500px;
  min-height: 300px;
  margin: 0;
}

header {
  position: relative;
  height: 25%;
}

div {
  position: absolute;
  height: 30px;
  width: 100vw;
  top: 60px;
  background-color: green;
}

h3 {
  position: absolute;
  top: 3px;
  margin: 0;
}

#SimBa {
  left: 20%;
}

#Vermessungsbüro {
  left: 50%;
}
